<ul id="dropdown1"
    class="dropdown-content">
    <li>
        <a (click)="changeLanguaje('es')">{{'ESPANOL' | translate}}</a>
    </li>
    <li>
        <a (click)="changeLanguaje('en')">{{'INGLES' | translate}}</a>
    </li>
</ul>
<ul id="dropdown2"
    class="dropdown-content">
    <li>
        <a (click)="changeLanguaje('es')">{{'ESPANOL' | translate}}</a>
    </li>
    <li>
        <a (click)="changeLanguaje('en')">{{'INGLES' | translate}}</a>
    </li>
</ul>
<nav [ngClass]="menu1">
    <div class="nav-wrapper">
        <a class="brand-logo color-negro" [routerLink]="['/inicio']">
            <b class="green-glBi-claro">GL</b>Reports
        </a>
        <ul id="nav-mobile"
            class="right hide-on-med-and-down">
            <li>
                <a class="color-text"
                   [routerLink]="['/upload']">{{'CARACTERISTICAS' | translate}}</a>
            </li>
            <li>
                <a class="color-text"
                   [routerLink]="['/graph']">
                    <span class="back-green-glBI-oscuro nav-recuadro">{{'PRECIOS' | translate}}</span>
                </a>
            </li>
            <li>
                <a class="color-text "
                   [routerLink]="['/login']">{{'CONTACTANOS' | translate}}</a>
            </li>
            <li>
                <a class="dropdown-trigger color-text upperCase flex-display"
                   href="#!"
                   data-target="dropdown1">
                    <i class="material-icons green-glBi-claro">language</i>{{language}} </a>
            </li>


        </ul>
    </div>
</nav>

<nav [ngClass]="menu2"
     id="menu2">
    <div class="nav-wrapper">

        <a [routerLink]="['/inicio']"
           class="brand-logo color-negro">
            <b class="green-glBi-claro">GL</b>Reports</a>
        <ul id="nav-mobile"
            class="right hide-on-med-and-down">

            <li>
                <a class="dropdown-trigger color-text upperCase flex-display"
                   href="#!"
                   data-target="dropdown2">
                    <i id="language2"
                       class="material-icons green-glBi-claro">language</i>{{language}} </a>
            </li>
            <li>
                <a class="dropdown-trigger color-text upperCase flex-display" (click)="exitApp()"><i id="exit_app"
                    class="material-icons green-glBi-claro">exit_to_app</i>{{'SALIR' | translate}}  </a>
            </li>


        </ul>
    </div>
</nav>
<router-outlet></router-outlet>


<!-- AQUI EMPIEZA EL FOOTER -->
<footer [ngClass]="menu1"
        class="page-footer footer-background">
    
    <div class="footer-copyright grey darken-4">
        <div class="container center-align">
            {{'CREADO' | translate}}
            <br /> © 2018 {{'DERECHOS' | translate}}


        </div>
    </div>
</footer>
<!-- AQUI TERMINA EL FOOTER -->