<div class="row ">
    <div class="col s12 m12 "></div>
    <div class="conteiner center">
        <h4 class="green-glBi-oscuro">{{'ELIGE_PLAN' | translate}}</h4>
        <p>{{'DESCRIPCION_PLANES' | translate}}</p>
    </div>
    <div class="row conteiner">
        <div class="col s6 m3 sinPadding">
            <div class="card back_amarillo_claro ">
                <div class="center">

                    <h6 class="back_amarillo_oscuro styleNamePlan ">Bronce</h6>
                    <div class="card-contend">
                        <p class="tam-font-valor font-blanca ">$ 75<span class="tam-font-valor-sub">/Monthly</span></p>
                    </div>
                </div>
                <div class="card back-gris-tono-claro padding-5">
                    <div class="card-contend back-blanco center margin-10">
                        <p>cuentas</p>
                        <p>graficas</p>


                    </div>
                    <button class="waves-effect waves-light btn back-green-glBI-oscuro tam-100 back_amarillo_oscuro"
                            (click)="comprarPlan(1)">{{'COMPRAR_AHORA' | translate}}</button>
                </div>
            </div>

        </div>

        <div class="col s6 m3  sinPadding">
            <div class="card back_verde_claro">
                <div class="center">
                    <h6 class="back_verde_oscuro styleNamePlan">Silver</h6>
                    <p class="tam-font-valor font-blanca ">$ 120<span class="tam-font-valor-sub">/Monthly</span></p>
                </div>
                <div class="card back-gris-tono-mas-claro padding-5">
                    <div class="card-contend back-blanco center margin-10">
                        <p>cuentas</p>
                        <p>graficas</p>
                        <p>paneles</p>


                    </div>
                    <button class="waves-effect waves-light btn back-green-glBI-oscuro tam-100 back_verde_oscuro"
                            (click)="comprarPlan(2)">{{'COMPRAR_AHORA' | translate}}</button>
                </div>
            </div>

        </div>
        <div class="col s6 m3 sinPadding">
            <div class="card back_gris_claro">
                <div class="center">
                    <h6 class="back_gris_oscuro styleNamePlan">Gold</h6>
                    <p class="tam-font-valor font-blanca ">$ 195<span class="tam-font-valor-sub">/Monthly</span></p>
                </div>
                <div class="card back-gris-tono-claro padding-5">
                    <div class="card-contend back-blanco center margin-10">
                        <p>cuentas</p>
                        <p>graficas</p>
                        <p>paneles</p>
                        <p>aaaaaaa</p>

                    </div>
                    <button class="waves-effect waves-light btn back-green-glBI-oscuro tam-100 back_gris_oscuro"
                            (click)="comprarPlan(2)">{{'COMPRAR_AHORA' | translate}}</button>
                </div>
            </div>

        </div>
        <div class="col s6 m3 sinPadding">
            <div class="card back_naranja_claro">
                <div class="center">
                    <h6 class="back_naranja_oscuro styleNamePlan">Coin</h6>
                    <p class="tam-font-valor back_naranja_claro  font-blanca">$ 230<span class="tam-font-valor-sub">/Monthly</span></p>
                </div>
                <div class="card back-gris-tono-mas-claro padding-5">
                    <div class="card-contend back-blanco center margin-10">
                        <p>cuentas</p>
                        <p>graficas</p>
                        <p>paneles</p>
                        <p>aaaaaaa</p>
                        <p>bbbbbbc</p>
                    </div>
                    <button class="waves-effect waves-light  tam-100  btn back_naranja_oscuro"
                            (click)="comprarPlan(2)">{{'COMPRAR_AHORA' | translate}}</button>
                </div>
            </div>

        </div>

        <div class="col s12">
            <div class="card center back_verde_claro">
                <h6 class=" styleNamePlan">{{'USUARIOS_ADICIONALES' | translate}}</h6>

                <div class="card-contend style-card-useradd">
                    <p class="tam-font-valor margin-botton-0  font-negra">$ 10<span class="tam-font-valor-sub">/Monthly</span></p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">

        </div>
        <div class="col s12 m4 center back-gris-tono-claro ">
            <h6>{{'PLAN_GRATIS' | translate}}</h6>
            <p class="font-gris">{{'DESC_PLAN_GRATIS' | translate}}</p>
            <button class="waves-effect waves-light btn back_verde_oscuro tam-100  margin-botton-15"
                    (click)="comprarPlan(2)">{{'ENTRAR' | translate}}</button>
            <br>
        </div>
        <div class="col s12 m4">

        </div>

    </div>
</div>